<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>kirby-classic.ttf</string>
		<string>SunnyspellsRegular.otf</string>
		<string>BalonkuRegular.otf</string>
		<string>BubbleLemonA.ttf</string>
		<string>BubbleLemonB.ttf</string>
	</array>
</dict>
</plist>
